packages: [
  "atom-runner"
  "atom-typescript"
  "autocomplete-elixir"
  "autocomplete-erlang"
  "autocomplete-python"
  "cake-syntax"
  "eclectic-syntax"
  "file-icons"
  "firewatch-syntax"
  "genesis-ui"
  "japanese-menu"
  "japanese-wrap"
  "language-elixir"
  "language-erlang"
  "line-jumper"
  "linter"
  "linter-flake8"
  "linter-pydocstyle"
  "minimap"
  "package-sync"
  "project-manager"
  "python-tools"
  "rst-preview"
  "symbols-tree-view"
]
